/* for small devices , mobile */
@media (max-width: 425px) {
    .btnn button{
        padding: 1.2vw 3vw;
        font-size: 2.8vw;
    }
    .right,
    .left{
        width: auto;
    }
    .navbar img{
        width: 12vw;
    }
    .navbar .navbar-brand{
        padding-top: 0 !important;
        & > span{
            font-size: 2.5vw;
        }
    }
    .navbar-toggler-icon{
        background-size: 50%;
    }
    .navbar-toggler{
        padding: 0 .2vw;
    }
    .navbar .navbar-nav{
        display: flex;
        align-items: center;
    }
    .navbar .navbar-nav .nav-item{
        font-size: 4vw;
        & > .nav-link{
            padding: 1.5vw 0;
        }
    }
    .navbar .dropdown-item{
        font-size: 4vw;
    }
    .dropdown-divider{
        display: none;
    }
    #banner .banner-contents h1{
        font-size: 8vw;
        margin-top: 7vw;
        & > span{
            font-size: 8vw;
            margin-bottom: 5vw;
        }
    }
    #banner .banner-contents p{
        width: 80%;
        font-size: 2.5vw;
        padding: 3vw 0;
        margin-top: 3vw;
    }
    #service .right,
    #service .left{
        width: auto;
    }
    #service .container .row .service-contents1,
    #service .container .row .service-contents2,
    #service .container .row .service-contents3{
        flex-direction: column;
    }
    #service .container .row .right .sr-texts h4,
    #service .container .row .right .sr-texts h4,
    #service .container .row .right .sr-texts h4{
        font-size: 5vw;
        text-align: center;
        margin-top: 4vw;
    }
    #service .container .row .right .sr-texts p,
    #service .container .row .right .sr-texts p,
    #service .container .row .right .sr-texts p{
        width: 100%;
        font-size: 2.4vw;
        text-align: center;
        margin-bottom: 12vw;
    }
    #portfolio .container .row,
    #testimonials .container .row,
    #team .container .row{
        gap: 8vw;
    }
    #portfolio .port-contents .texts h4{
        font-size: 4vw;
        padding: 3vw 0;
    }
    #portfolio .port-contents .texts p{
        font-size: 2.2vw;
        line-height: 3vw;
    }
    #completed .row .c-contents{
        flex-direction: column;
    }
    .c-contents .right .counter-div{
        padding-top: 4vw;
        & > .texts > h4{
            font-size: 5vw;
            margin: 0;
        }
        & > .texts > span{
            font-size: 4vw;
            margin-left: .5vw;
        }
        & > p{
            font-size: 2.5vw;
            margin: 2vw 0 6vw 0;
        }
    }
    #testimonials .testi-contents h4,
    #team .team-contents .texts h4{
        font-size: 6vw;
    }
    #testimonials .sub-h_container{
        flex-direction: column;
        & > .w-33per{
            width: 100%;
        }
    }
    #testimonials .testi-contents .texts1{
        padding: 6vw;
        & > p{
            font-size: 3vw;
            text-align: center;
        }
        & > .profile{
            justify-content: center;
            padding: 3vw 0;
        }
        & > .profile > .texts2 > p,
        & > .profile > .texts2 > span{
            font-size: 3.5vw;
            text-shadow: var(--theme-Clor1) 1px 15px 35px;
        }
        & > .profile > .img > img{
             width: 12vw;
            height: 12vw;
        }
    }
    #team .team-contents{
        border-radius: 15px;
        & > .texts > p{
            font-size: 3.3vw;
            font-weight: 600;
            padding-bottom: 5vw;
            
        }
        & > .img{
            display: flex;
            justify-content: center;
            & > img{
                width: 65%;
                margin: 10vw 0 5vw 0;
            }
        }
    }
    #footer .footer-contents{
        & > h4{
            font-size: 3.2vw;
        }
        & > p{
            font-size: 2.5vw;
            text-align: center;
        }
        & > .social > #social-p{
            font-size: 2.4vw;
        }
        & > .img{
            display: flex;
            justify-content: center;
        }
        & > .img > img{
            width: 50%;
            border-radius: 5px;
        }
        & > .btnn > button{
            padding: 1vw 2vw;
        }
    }
    #footer .footer-contents ul li{
        font-size: 2.5vw;
    }
    #footer .width50{
        width: 50%;
        margin: 10vw 0 5vw 0;
    }
    #footer .grid-it-center{
        display: flex;
        justify-content: center;
    }
    #copyright .copyright-contents{
        & > .copyright-texts{
            padding: 4vw 0 3vw 0;
            align-items: center;
            & > span{
                font-size: 1.8vw;
            }
        }
        & > .copyright-texts > p{
            font-size: 1.7vw;
        }
        & > .copyright-icons{
            & > ul > li > a > span{
            font-size: 2.5vw;
            }
        }
    }
    /* about sub navs */
    #certificate .container .certi-contents{
        flex-direction: column-reverse;
        & > .left > .texts{
            text-align: center;
            & > h4{
                font-size: 3.2vw;
                margin: 6vw 0;
            }
            & > p{
                font-size: 2.3vw;
                line-height: 3.5vw;
                letter-spacing: 1px;
            }
            & > .btnn > button{
                padding: 3vw 5vw;
                font-size: 3vw;
            }
        }
        & > .right > .img{
            display: flex;
            justify-content: center;
        }
        & > .right > .img > img{
            width: 80%;
            &:hover{
                transform: none;
            }
        }
    }
    /* about sub navs */
    /* faq sub navs */
    #faq .container{
        max-width: 90vw;
    }
    #faq .accordion-button{
        font-size: 3.5vw;
    }
    #faq .accordion-body{
        font-size: 3vw;
    }
    /* faq sub navs */
}
/* for medium devices, tab */
@media (min-width: 425.1px) and (max-width: 768px) { 
    .container{
        max-width: 90%;
    }
    .navbar img{
        width: 12vw;
    }
    .navbar .navbar-brand{
        padding: 1vw;
        & > span{
            font-size: 2.5vw;
        }
    }
    .navbar-toggler-icon{
        background-size: 50%;
    }
    .navbar-toggler{
        padding: 0 1.3vw;
    }
    .navbar .navbar-nav{
        display: flex;
        align-items: center;
    }
    .navbar .navbar-nav .nav-item{
        font-size: 2.5vw;
        & > .nav-link{
            padding: 1.2vw 0;
        }
    }
    .navbar .dropdown-item{
        font-size: 2.4vw;
    }
    .dropdown-divider{
        display: none;
    }

    #portfolio .row {
        display: grid;
        grid-template-areas:
          "heading heading"
          "r1 r2"
          "r3 r3";
          & > .sec-headings{
            grid-area: heading;
          }
      }
      #portfolio .r-1 { 
        grid-area: r1;
        margin-bottom: 3.4vw; /* Gap below first row items */
        & > .port-contents{
            width: 93%;
            }
        }
      #portfolio .r-2 { 
        grid-area: r2; 
        margin-bottom: 3.4vw; /* Gap below first row items */
    }
      #portfolio .r-3 {
        grid-area: r3;
        width: 50%;
        margin: 0 auto;
      }

    #completed .right,
    #completed .left{
        width: auto;
    }
    #completed .row .c-contents{
        flex-direction: column;
    }
    .c-contents .right .counter-div{
        padding-top: 4vw;
        & > .texts > h4{
            font-size: 4vw;
            margin: 0;
        }
        & > .texts > span{
            font-size: 3vw;
            margin-left: .5vw;
        }
        & > p{
            font-size: 2vw;
            margin: 2vw 0 6vw 0;
        }
    }


    #testimonials .sub-h_container{
        display: block;
        & > .w-33per{
            width: 100%;
        }
        & > .row{
            flex-wrap: nowrap;
            & > .col-lg-6{
                width: 50%;
            }
        }
    }
    #testimonials .testi-contents .texts1{
        /* padding: 6vw; */
        & > p{
            font-size: 1.7vw;
            text-align: center;
        }
        & > .profile{
            justify-content: center;
        }
        & > .profile > .texts2 > p,
        & > .profile > .texts2 > span{
            font-size: 2vw;
            text-shadow: var(--theme-Clor1) 1px 15px 35px;
        }
        & > .profile > .img > img{
             width: 7vw;
            height: 7vw;
        }
    }

    #team .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4vw;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    /* Position the third team member in the second row centered */
    #team .col-lg-4:nth-child(3) {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        /* width: 50%; */
    }
    #team .r-3{
        width: 50% !important;
    }

    #footer .footer-contents{
        & > h4{
            font-size: 2vw;
        }
        & > p{
            font-size: 2vw;
            text-align: center;
        }
        & > .social > #social-p{
            font-size: 2vw;
        }
        & > .img{
            display: flex;
            justify-content: center;
        }
        & > .img > img{
            width: 40%;
            border-radius: 5px;
        }
        & > .btnn > button{
            padding: .75vw 1.5vw;
        }
    }
    #footer .footer-contents ul li{
        font-size: 2vw;
    }
    #footer .width50{
        width: 50%;
        margin: 10vw 0 5vw 0;
    }
    #footer .grid-it-center{
        display: flex;
        justify-content: center;
        margin-bottom: 3vw;
    }
    #copyright .copyright-contents{
        & > .copyright-texts{
            padding: 4vw 0 3vw 0;
            align-items: center;
            & > span{
                font-size: 1.8vw;
            }
        }
        & > .copyright-texts > p{
            font-size: 1.7vw;
        }
        & > .copyright-icons{
            padding-top: 3.5vw;
            & > ul > li > a > span{
            font-size: 2.5vw;
            }
        }
    }


    /* faq sub navs */
    #faq .accordion-button{
        font-size: 2vw;
    }
    #faq .accordion-body{
        font-size: 1.5vw;
    }
    /* faq sub navs */

}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    
 }

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    
 }

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
    
 }